@import "../../scss/mixin.scss";

[data-page~=exchange-item]{
	padding-top:45px;
	padding-bottom:60px;
	background:#f4f4f4;
	.m-header{
		color: #e60a30;
		font-size:13px;
		line-height:25px;
		padding:10px rem(30);
		background:#ffedef;
		position: fixed;
		top:0;
		width:100%;
	}
	
	.m-content{
		background:#fff;
	}
	
	.one-item{
		&.inv{
			color:#999;
			.item-price{
				color:#999;
			}
			.origin-price{
				border:1px solid #999;
			}
		}
	
		
		//商品check
		.item-check{
			padding-left:5px;
			text-align:center;
			line-height:90px;
			width:40px;
		}
		
		//商品信息
		.item-info{
			border-bottom:1px solid #e4e4e4;
			padding:10px 15px 16px 5px;
		}
		.item-img{
			position: relative;
			width:70px;
			height:70px;
			margin-right:rem(22);
			img{
				width:100%;
				height:100%;
			}
			.img-noItem{
				position: absolute;
				width: 55px;
				height: 55px;
				left: 50%;
				top: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}
		
		.item-detail{
			padding-left:10px;
		}
		.title{
			font-size:14px;
			height:36px;
			line-height:18px;
			@include multiLine(2);
			//margin-bottom:5px;
		}
		.props{
			font-size:11px;
			color:#999;
			line-height:20px;
			height:20px;
			@include multiLine(1);
		}
		.item-price{
			line-height:18px;
			color:#e60a30;
		}
		.origin-price{
			border:1px solid #e60a30;
			height:18px;
			margin-left:3px;
			border-radius:9px;
			padding:0 9px;
		}
		.num{
			text-align: right;
			color:#999;
		}
		
	}
	
	.total-ctrl{
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		border-top:1px solid #e4e4e4;
		padding-left:10px;
		font-size:15px;
		line-height:50px;
		background:#fff;
		.c-fl{
		
		}
		.red-btn{
			background:#e60a30;
			color:#fff;
			width:105px;
			text-align:center;
		}
	}
	
	.single-btn{
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		height:50px;
		line-height:50px;
		text-align:center;
		background:#e60a30;
		color:#fff;
		font-size:15px;
	}
}