[data-page~=invitation] {
    .cover{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        background-color: rgba(0,0,0,.7);
        .hand{
            position: absolute;
            right: 6px;
            top: 5px;
            width: 226px;
        }
        .btn{
            position: absolute;
            top: 284px;
            left: 50%;
            width: 166px;
            margin-left: -83px;
        }
    }
	.detail{
	    width: 100%;
	    padding: 10px 3% 94px;
	    background-color: #f9f5f5;
	    .rule{
	        width: 100%;
	        height: 90px;
            background-color: #f9f5f5;
            border-radius: 4px;
            height: 90px;
            padding: 10px 0 10px;
            li{
                width: 33.3%;
                height: 100%;
                border-right: 1px solid #f3e6e6;
                float: left;
                text-align: center;
                p{
                    font-size: 30px;
                    color: #eac5c5;
                    font-style: italic;
                    line-height: 30px;
                }
                div{
                    display: inline-block;
                    text-align: left;
                }
            } 
	    }
	}
	.reward{
	    width: 100%;
	    height: 201px;
	    background-image: url(../../img/logistics/img/bg.png);
	    background-size: 100% 100%;
	    position: relative;
	    .icon{
	        width: 20px;
	        height: 24px;
	        position: absolute;
	        top: 8px;
	        left: 50%;
	        margin-left: -10px;
	    }
	}
	.no-reward{
	    width: 100%;
	    height: 100%;
	    padding-top: 44px;
	    position: relative;
	    img{
	        width: 64%;
	        margin-left: 17%;
	        margin-bottom: 20px;
	    }
	}
	.has-reward{
	    padding-top: 44px;
	    li{
	        float: left;
	        width: 33.3%;
	        text-align: center;
	    }
	    button{
	        padding: 0 10px 0;
	        height: 27px;
	        border: 1px solid #c6474f;
	        border-radius: 13px;
	        color: #c6474f;
	    }
	}
	.reward-detail-head{
	    width: 100%;
	    height: 1px;
	    background-color: #d3d7dc;
	    position: relative;
	    .head{
	        width: 112px;
	        height: 16px;
	        line-height: 16px;
	        position: absolute;
	        top: -8px;
	        left: 50%;
	        margin-left: -56px;
	        background-color: #f2f4f7;
	    }
	    span{
	        width: 4px;
	        height: 4px;
	        display: block;
	        background-color: #d3d7dc;
	        border-radius: 2px;
	        position: absolute;
	        top: 6.5px;
	    }
	    .left-one{
	        left: -2px;
	    }
	    .right-one{
	        right: -2px;
	    }
	}
	.each-reward{
        padding-top: 30px;
        height: 70px;
        width: 100%;
        .user-img{
            width: 28%;
            height: 40px;
            padding-top: 4px;
            font-size: 15px;
            font-weight: bold;
            img{
                width: 28px;
                margin-right: 4px;
            }
        }
        span{
            top: 38px;
            right: 0;
            color: #353535;
            img{
                width: 17.5px;
                position: absolute;
                top: 2px;
                left: -24.5px;
            }
        }
    }
    .check{
        width: 100%;
        height: 52px;
        button{
            width: 90px;
            height: 27px;
            border: 1px solid #c64750;
            border-radius: 13px;
            position: absolute;
            top: 25px;
            left: 50%;
            margin-left: -45px;
            color: #c64750;
        }
    }
    .footer{
        width: 100%;
        height: 56px;
        padding: 8px 15px 8px;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #fff;
        button{
            width: 100%;
            height: 40px;
            text-align: center;
            font-size: 15px;
            line-height: 40px;
            color: #fff;
            background-color: #c6474f;
            border-radius: 4px;
        }
    }
    .message{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        .msg-box{
            width: 270px;
            height: 144px;
            position: absolute;
            top: 198px;
            left: 50%;
            margin-left: -135px;
            background-color: #fff;
            border-radius: 13px;
        }
        .msg-up{
            width: 100%;
            height: 100px;
            border-bottom: 1px solid #e4e4e4;
            padding: 20px;
        }
    }
}
